# Electron 镜像配置 (解决国内下载慢的问题)
electron_mirror=https://registry.npmmirror.com/-/binary/electron/
electron_builder_binaries_mirror=https://registry.npmmirror.com/-/binary/electron-builder-binaries/

# 可选：npm 镜像源
registry=https://registry.npmmirror.com

node-linker=hoisted
